@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate.
    It is the world's largest container shipping company having customers through 374 offices in 116 countries.
    It employs approximately 7,000 sea farers and approximately 25,000 land-based people.
    Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.
</p>
<p>

    Operating in 100 countries and transporting goods around the globe, at first glance it would appear Danish shipping company Maersk Line is already handling all the cargo it can manage.
    But when Maersk determined that the volume of most of the goods it was shipping had grown to full capacity,
    the company decided that cloud powered solutions would be a crucial part of rectifying the situation.
</p>
<p>
    “There was a ‘mind-opener’ where Maersk said, ‘How can we support the overall business strategy,
    and also from an IT perspective,” says Soeren Lorenzen, an account general manager with Hewlett-Packard company who is involved first-hand with Maersk’s ITO efforts.
    “There was a new CIO who wanted to outsource every part of IT, but without [negatively] impacting shipping.”
</p>
