@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Maersk Group<br />
    248-258 Oldbury Rd, Rowley Regis B65 0QG, UK<br />
    <abbr title="Phone">P:</abbr>
    202-555-0118
    +1-202-555-0118(international)
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">MaerskSupport@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MaerskMarketing@example.com</a>
</address>