@{
    ViewBag.Title = "Home Page";
}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <img src="~/image/ship2.jpg" alt="Chicago" width="1150" height="300">

</div>


<div class="jumbotron">
    <h1>Maersk Group EUROPE</h1>
    <p class="lead">
        Maersk Line is the global container division and the largest operaing unit of the A.P.
        Moller.It is the world's largest container shipping company having customers through 374 offices in 116 countries.
        It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU.
        The company was founded in 1928.
    </p>
    @*<p><a href="http://localhost:50006/User/Login" class="btn btn-primary btn-lg">Login Account &raquo;</a></p>*@
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shipping. Just the Way You Like It.</h2>
        <p>
            For basic one-piece shipments, Maersk Group Ship Manager Lite is the fastest way to create a shipping label Maersk Group account.
            Use the simple interface on any device — phone, tablet, or desktop — to quickly ship from almost anywhere.
        </p>


    </div>
    <div class="col-md-4">
        <h2>CEO of Maersk</h2>
        <p>
            “There was a ‘mind-opener’ where Maersk said, ‘How can we support the overall business strategy,
            and also from an IT perspective,” says Soeren Lorenzen, an account general manager with Hewlett-Packard company who is involved first-hand with Maersk’s ITO efforts.
            “There was a new CIO who wanted to outsource every part of IT, but without [negatively] impacting shipping.”
        </p>

    </div>
    <div class="col-md-4">
        @*<h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
        <img src="~/image/ddac.jpg" class="img-circle" width="304" height="236">
    </div>
</div>
